.room_header {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.room_info {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.room_last-message {
  text-align: end;
}

.title {
  font-style: italic;
}
